/* Nav-tabs */
.nav-tabs {
  border: 0;
  background-color: #f0f0f7;
  border-bottom: 1px solid #c7c7c7;
}

.nav-tabs .nav-link {
  color: #999;
  border: 0;
}

/* Barra de navegación superior */
.nav-tabs .nav-link.active {
  color: #666;
  border: 0;
  border-bottom: solid 3px #F78F1E;
}

/* Barra de navegación superior */
.nav-tabs .nav-item a:hover {
  color: #666;
  border: 0;
  background-color: white;
  border-bottom: solid 3px #F78F1E;
  -webkit-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.nav-tabs .nav-item .dropdown-menu a:hover {
  color: #999;
  background-color: #f0f0f7;
  border-bottom: 0;
  -webkit-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.navbar a {
  font-size: 15px;
  color: #007D57;
  font-family: "Roboto";
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid white;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}
