<header class="mat-elevation-z4">
  <mat-toolbar>
    <img src="./assets/logoBancor.png" alt="Bancor">
    <div class="toolbar-buttons">
      <a mat-button color="primary" routerLink="/home" routerLinkActive="mat-button-accent">Catálogo</a>
      <a mat-button color="primary" routerLink="/i7x24" routerLinkActive="mat-button-accent">i7x24</a>
    </div>
    <p>Registro de servicios</p>
  </mat-toolbar>
</header>

<div class="body-content">
  <router-outlet></router-outlet>
</div>

<footer>
  <p>alpha v0.5</p>
</footer>