/* CSS app.component.css */
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

header {
  z-index: 999;
}


/* Top - Barra de navegación */
.mat-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  padding-left: 0.5rem;
}

img {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  align-self: stretch;
}

.toolbar-buttons {
  flex: 1 1;
  align-self: flex-end;
}

header p {
  color: #007D57;
  margin: 0;
  align-self: flex-start;
}

.mat-button-accent {
  border-bottom: 3px solid #F78F1E;
}

.body-content {
  flex-grow: 1;
  overflow: hidden;
  background-color: ghostwhite;
}

footer {
  font: status-bar;
  box-shadow: inset 0px 3px 9px #C7C7C7;
  border-top: 1px solid #808080;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
}

footer p {
  margin: 0;
  margin-right: 0.25rem;
}

router-outlet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
}

.bg-bancor {
  background: #007D57;
}

.bg-gradient-bancor {
  background: -o-linear-gradient(left, #F78F10 0%, #007D57 100%);
  background: -webkit-gradient(linear, left top, right top, from(#F78F10), to(#007D57));
  background: linear-gradient(to right, #F78F10 0%, #007D57 100%);
}