<div class="nav-side-menu" id="MainMenu">

  <div class="menu-list">
    <ul *ngFor="let servicio of servicios" id="menu-content" class="menu-content collapse out">
      <li data-toggle="collapse" [attr.data-target]="'#Service-'+ servicio.servicioNombre" class="collapsed">
        <a>{{servicio.servicioNombre}}<span class="arrow"></span></a>
      </li>
      <div class="sub-menu collapse" aria-expanded="false" data-parent="#MainMenu"
        [attr.id]="'Service-'+ servicio.servicioNombre">
        <!--      <div  class="sub-menu collapse" aria-expanded="false" [attr.id]="'Service-'+ servicio.servicioNombre">  -->
        <ul *ngFor="let metodo of servicio.metodos">
          <li (click)="setItemSelected(servicio.servicioNombre, metodo.metodoNombre, metodo.metodoVersion)"
            [ngClass]="{active: ((serviceSelected == servicio.servicioNombre) && (methodSelected == metodo.metodoNombre) && (versionSelected == metodo.metodoVersion))}">
            {{metodo.metodoNombre}}<span class="badge badge-pill badge-danger">{{metodo.metodoVersion}}</span>
          </li>
        </ul>
      </div>
    </ul>
  </div>
</div>