<ng-container *ngIf="servicios; then homeLleno; else homeVacio"></ng-container>

<ng-template #homeVacio>

  <div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>

</ng-template>

<ng-template #homeLleno>

  <div fxFlexFill fxLayout="row" fxLayoutAlign="center">

    <!-- Sidebar 
    <div class="nav-side-menu scrollbar" fxFlex.xs="50" fxFlex.sm="35" fxFlex.md="25" fxFlex.lg="20" fxFlex.gt-sm="25"
      id="MainMenu">
      <div class="menu-list">
        <ul *ngFor="let servicio of servicios" id="menu-content" class="menu-content collapse out">
          <li data-toggle="collapse" [attr.data-target]="'#Service-'+ servicio.servicioNombre" class="collapsed">
            <a>{{servicio.servicioNombre}}<span class="arrow"></span></a>
          </li>
          <div class="sub-menu collapse" aria-expanded="false" data-parent="#MainMenu"
            [attr.id]="'Service-'+ servicio.servicioNombre">
            <ul *ngFor="let metodo of servicio.metodos">
              <li (click)="getMethod(servicio.servicioNombre, metodo.metodoNombre, metodo.metodoVersion)"
                [ngClass]="{active: ((serviceSelected == servicio.servicioNombre) && (methodSelected == metodo.metodoNombre) && (versionSelected == metodo.metodoVersion))}">
                {{metodo.metodoNombre}}<span class="badge badge-pill badge-danger">{{metodo.metodoVersion}}</span>
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
    -->

    <div class="nav-side-menu scrollbar" fxFlex.xs="50" fxFlex.sm="35" fxFlex.md="25" fxFlex.lg="20" fxFlex.gt-sm="25"
      id="MainMenu">
      <mat-nav-list>

        <div *ngFor="let servicio of servicios">

          <a mat-list-item (click)="onServiceSelected(servicio)" [ngClass]="{'expanded': expanded}" style="font-style: bolder !important;">
            <span>{{servicio.servicioNombre}}</span>
            <span fxFlex>
              <span fxFlex></span>
              <mat-icon [@indicatorRotate]="(serviceSelected == servicio.servicioNombre) ? 'expanded': 'collapsed'">expand_more</mat-icon>
            </span>
          </a>

          <div *ngIf="(serviceSelected == servicio.servicioNombre)">
            <div [@fadeInOut]>
              <div *ngFor="let metodo of servicio.metodos">
                <a mat-list-item (click)="onMethodSelected(metodo)" [ngClass]="{'active': ((serviceSelected == servicio.servicioNombre) && (methodSelected == metodo.metodoNombre) && (versionSelected == metodo.metodoVersion))}" >
                  <span style="padding-left: 15px;">{{metodo.metodoNombre}}</span>
                  <span color="warm">{{metodo.metodoVersion}}</span>
                </a>
              </div>
            </div>
          </div>

        </div>

      </mat-nav-list>

    </div>

    <!-- Vista de detalle -->
    <div class="detalle scrollbar" fxFlex.xs="50" fxFlex.sm="65" fxFlex.md="75" fxFlex.lg="80" id="detailMethod"
         [ngClass]="{'fade_out': this.fade === true, 'fade_in': this.fade === false}">

      <div *ngIf="metodo">
        <mat-card class="mat-elevation-z8">
          <mat-card-header color="A500">
            <mat-card-title>{{metodo.metodoNombre}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-tab-group [(selectedIndex)]="tabSelected" animationDuration="0ms">
              <!--
                    <div id="general" class="container tab-pane active">
                      <app-form-method></app-form-method>
                    </div>
              -->
              <mat-tab label="Patrón de Diseño">
                <ng-template matTabContent>
                  <img *ngIf="metodo.archivo_patron" style="width: 100%;" [src]="metodo.archivo_patron">
                  <img *ngIf="!metodo.archivo_patron" style="width: 100%;" src='./assets/Patron_de_disenio.png'>
                </ng-template>
              </mat-tab>
              <mat-tab label="Esquema">
                <ng-template matTabContent>
                  <img *ngIf="metodo.archivo_esquema" style="width: 100%;" [src]="metodo.archivo_esquema">
                  <img *ngIf="!metodo.archivo_esquema" style="width: 100%;" src='./assets/Esquema_de_Solucion.png'>
                </ng-template>
              </mat-tab>
              <mat-tab label="WSDL">
                <ng-template matTabContent>
                  <app-htmlviewer xml="{{metodo.archivo_wsdl}}"></app-htmlviewer>
                </ng-template>
              </mat-tab>
              <mat-tab label="XSD">
                <ng-template matTabContent>
                  <app-htmlviewer xml="{{metodo.archivo_xsd}}"></app-htmlviewer>
                </ng-template>
              </mat-tab>
              <mat-tab [label]="example.Nombre" *ngFor="let example of metodo.examples">
                <ng-template matTabContent>
                  <app-htmlviewer xml="{{example.XML}}"></app-htmlviewer>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>

      </div> <!-- Metodo -->
    </div> <!-- Col-8 -->

  </div> <!-- Servicio == true -->

</ng-template>
