.nav-side-menu {
  font-family: Verdana;
  font-size: 12px;
  font-weight: 200;
  background: -webkit-gradient(linear, left top, right bottom, from(#007D57), to(#35ccd8));
  background: -o-linear-gradient(left top, #007D57 0%, #35ccd8 100%);
  background: linear-gradient(to right bottom, #007D57 0%, #35ccd8 100%);
  height: 100%;
  color: white;
  /*  box-shadow: 3px 0px 9px #007d57; */
  -webkit-box-shadow: 3px 0px 9px #C7C7C7;
  box-shadow: 3px 0px 9px #C7C7C7;
  z-index: 999;
}

.nav-side-menu .toggle-btn {
  display: none;
}

/*Altura de los grupos*/
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  cursor: pointer;
}

/* Flecha abajo del grupo */
.nav-side-menu ul [data-toggle].collapsed .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.nav-side-menu ul [data-toggle]:not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f077";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

/*Barra izquierda de resalte de los grupos cuando están activos*/
.nav-side-menu ul .active,
.nav-side-menu li .active,
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  background: -webkit-gradient(linear, left top, right bottom, from(black), to(#883300));
  background: -o-linear-gradient(left top, black 0%, #883300 100%);
  background: linear-gradient(to right bottom, black 0%, #883300 100%);
  border-left: 3px solid black;
  -webkit-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

/*Subgrupos*/
.nav-side-menu ul .sub-menu li {
  padding-left: 25px;
  background: #006D57;
  border-left: 3px solid #006D57;
  line-height: 20px;
  border-bottom: 1px solid #014631;
  margin-left: 0px;
}

.nav-side-menu li:hover,
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  opacity: 0.66;
  background: -webkit-gradient(linear, left top, right bottom, from(black), to(#883300));
  background: -o-linear-gradient(left top, black 0%, #883300 100%);
  background: linear-gradient(to right bottom, black 0%, #883300 100%);
  border-left: 3px solid black;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.nav-side-menu li {
  padding-left: 5px;
  border-left: 3px solid #007d57;
  border-bottom: 1px solid #43425d;
}

.nav-activado {
  background: #105010 !important;
  text-decoration: none !important;
  border-bottom: 2px solid #ff8800 !important;
}

.nav-side-menu .toggle-btn {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10 !important;
  padding: 3px;
  background-color: #ffffff;
  color: #000;
  width: 40px;
  text-align: center;
}

.menu-list .menu-content {
  display: block;
  padding: 0px;
}

.nav-side-menu {
  display: block;
  padding: 0px;
}

.vcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.fa-spin-faster {
  -webkit-animation: fa-spin .5s infinite linear;
  animation: fa-spin .5s infinite linear;
  font-family: 'Font Awesome 5 Free';
}

h5.error {
  color: #aa0000;
}

.navbar a {
  font-size: 15px;
  color: #007D57;
  font-family: "Roboto";
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 3px solid white;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
}

.text-area {
  padding: 1rem;
}

.mat-card {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
/*
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
}

@media (min-width: 767px) {
    .menu-list .menu-content {
        display: block;
        padding: 0px;
    }
    .nav-side-menu {
        display: block;
        padding: 0px;
    }
}
*/

.fade_in {
    visibility: visible;
    opacity: 100;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
}

.fade_out {
    visibility: hidden;
    opacity: 0%;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
