<!-- <ng-container *ngIf="servicios; then homeLleno; else homeVacio"></ng-container>

<ng-template #homeVacio>

  <div class="container-fluid body-content h-100 pr-0">
    <div class="row justify-content-center h-100">

      <div class="jumbotron-fluid vcenter fg-bancor">
        <i class="fa fa-spinner fa-5x fa-spin"></i>
      </div>

    </div>
  </div>

</ng-template>

<ng-template #homeLleno> -->

<div class="container-fluid body-content h-100 p-0">

  <div class="row justify-content-center h-100 ml-0 mr-0">

    <!-- Menu Lateral -->
    <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 p-0 scrollbar h-100 menulateral" id="MainMenu">
      <app-menulateral (menuLoaded)="setMenuLoaded()" 
                       (itemSelected)="setMethodSelected($event)"></app-menulateral>
    </div>

    <!-- Detalle del método seleccionado -->
    <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9 pt-3 pb-3 scrollbar h-100"
         [ngClass]="{'fade_in': this.fade === true, 'fade_out': this.fade === false}">
      <app-detail-method *ngIf="this.fade"
                         [service]="serviceSelected"
                         [method]="methodSelected"
                         [version]="versionSelected">
      </app-detail-method>
    </div> <!-- Col-8 -->
  </div> <!-- Row -->
</div> <!-- Servicio == true -->

<!-- </ng-template>
 -->
